@font-face {
  font-family: "Lucida Sans";
  src: url("./fonts/LucidaSans/lucida sans italic.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Segoe WP";
  src: url("./fonts/SegoeWP/ofont.ru_Segoe WP Light.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Asap";
  src: url("./fonts/ASAP/Asap-Regular.otf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("./fonts/PT Sans/PTSans-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "ArialMT";
  src: url("./fonts/ArialMT/16063.ttf");
  font-style: normal;
  font-weight: normal;
}

/* ------------------------------------------*/

* {
  box-sizing: border-box;
}

.theyalow-body {
  width: 1300px;

  text-align: center;
}

@media screen and (max-width: 680px) {

  .theyalow-body {
    width: 640px;
  }

}

/* ------------------------------------------*/

.upper-div {
  width: 100%;
  height: 566px;

  background: url("./img/upper_background.svg");
}

@media screen and (max-width: 680px) {

  .upper-div {
    width: 100%;
    height: 389px;
  }

}

/* ------------------------------------------*/

.theyalow-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;

  width: 100%;
  height: 110px;

  padding-left: 140px;
  padding-right: 140px;
}

@media screen and (max-width: 680px) {

  .theyalow-header {
    padding-left: 0;
    padding-right: 0;

    height: 62px;
  }
}

/* ------------------------------------------*/

.theyalow-logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;

  width: 560px;
  height: 100%;
}

@media screen and (max-width: 680px) {

  .theyalow-logo {
    width: 186px;
  }

}

.theyalow-logo__block {
  height: auto;
  width: auto;

  font-size: 41px;
  letter-spacing: 0px;
  color: #ffffff;
  font-family: "Lucida Sans", sans-serif;
  font-style: italic;
  text-transform: uppercase;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 680px) {

  .theyalow-logo__block {
    width: 186px;
    height: 100%;

    background: url("./img/lower_background.svg");

    font-size: 20px;
  }

}

.theyalow-logo__img {
  width: 83px;
  height: 83px;
}

@media screen and (max-width: 680px) {

  .theyalow-logo__img {
    width: 38px;
    height: 37px;

    margin: 13px;
    margin-right: 5px;
  }

}

/* ------------------------------------------*/

.theyalow-menu {
  width: 453px;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

@media screen and (max-width: 680px) {

  .theyalow-menu {
    width: 455px;

    font-size: 20px;
  }

}

.theyalow-main-nav {
  width: 100%;
  height: 41px;
  margin: 0;
  position: relative;
  
  vertical-align: bottom;
  text-align: center;

  background-image: linear-gradient(0deg, #f5c505 0%, #f5c505 100%);

  box-shadow:
   -2px -1px rgb(220,195,35), -2px -2px rgb(192,167,7),
   -4px -3px rgb(219,194,34), -4px -4px rgb(191,166,6),
   -6px -5px rgb(218,193,33), -6px -6px rgb(190,165,5);
}

@media screen and (max-width: 680px) {

  .theyalow-main-nav {
    height: 100%;

    box-shadow: none;
  }

}

.theyalow-main-nav__menu {
  list-style: none;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;

  height: 100%;
}

.theyalow-main-nav__menu__li { 
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 680px) {

  .theyalow-main-nav__menu__li {
      padding-left: 15px;
      padding-right: 15px;
  }

}

.theyalow-main-nav__menu__li:not(:last-child) { 
  border-right: 1px solid #9b7d0844;
}

.theyalow-main-nav__ref {
  text-decoration: none;

  font-size: 17px;
  letter-spacing: 0px;
  color: #9b7d08;
  font-family: "Segoe WP", sans-serif;
  font-weight: bold;
  text-transform: uppercase;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.theyalow-main-nav__ref__img {
  padding-right: 10px;
}

.theyalow-main-nav__menu a.current,
.theyalow-main-nav__menu a:hover {
  background: rgba(0,0,0,.1);
  color: rgba(0,0,0,1);
}


/* ------------------------------------------*/

.theyalow-clip-area {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;

  width: 100%;
  height: 456px;
}

@media screen and (max-width: 680px) {

  .theyalow-clip-area {
    height: 327px;
  }

}

.left-arrow-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  width: 140px;
  height: 100%;
}

@media screen and (max-width: 680px) {

  .left-arrow-block {
    display: none;
  }

}

.clip-block {
  width: 549px;
  height: 327px;

  background: url("./img/parrots.svg");
  background-repeat: no-repeat;
  background-position: center;

  margin-top: 60px;
}

@media screen and (max-width: 680px) {

  .clip-block  {
    width: 100%;
    height: 100%;

    margin-top: 0;
  }
  
}

.theyalow-video {
  width: 100%;
  height: 100%;

  opacity: 0.4;
}

.the-cool-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 20px;

  width: 470px;
  height: 100%;

  font-size: 63px;
  letter-spacing: 1px;
  font-family: "Asap";
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (max-width: 680px) {

  .the-cool-block  {
    display: none;
  }
  
}

.the-cool-block__span1 {
  color: #f5c506;
}

.the-cool-block__span2 {
  color: #ffffff;
}

.right-arrow-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  width: 140px;
  height: 100%;
}

@media screen and (max-width: 680px) {

  .right-arrow-block  {
    display: none;
  }
  
}

.navigation-arrow {
  cursor: pointer;
}

/* ------------------------------------------*/

.theyalow-icons-area {
  width: 100%;
  height: 213px;
}

@media screen and (max-width: 680px) {

  .theyalow-icons-area {
    height: 174px;

    background: url("./img/Layer\ 27\ copy@1X.png");
  }

}

.theyalow-icons-area__menu {
  list-style: none;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;

  height: 100%;
}

.theyalow-icons-area__menu__li { 
  height: 100%;
  width: 350px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border-right: 1px solid #9b7d0844;
}

.theyalow-icons-area__menu__li:first-child { 
  border-left: 1px solid #9b7d0844;
}

@media screen and (max-width: 680px) {

  .theyalow-icons-area__menu__li {
    border-right: none;
  }
  
  .theyalow-icons-area__menu__li:first-child {
    border-left: none;
  }

}

.theyalow-icons-area__ref {
  text-decoration: none;

  font-size: 27px;
  letter-spacing: 0px;
  color: #000000;
  font-family: "Segoe WP", sans-serif;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.theyalow-icons-area__ref__img {
  width: 110px;
  height: 110px;
}

@media screen and (max-width: 680px) {

  .theyalow-icons-area__ref {
    font-size: 23px;
  }

  .theyalow-icons-area__ref__img {
    width: 95px;
    height: 70px;

    padding-bottom: 10px;
  }

}

.theyalow-icons-area__menu a.current,
.theyalow-icons-area__menu a:hover {
  background: rgba(0,0,0,.1);
  color: rgba(0,0,0,1);
}

/* ------------------------------------------*/

.theyalow-video-area {
  width: 100%;
  height: 509px;

  background: url("./img/video_background.svg");

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@media screen and (max-width: 680px) {

  .theyalow-video-area {
    height: auto;

    background: none;

    margin-top: 15px;
  }

}

.theyalow-video-area__head {
  width: 100%;
  height: 100px;

  font-size: 37px;
  letter-spacing: 0px;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;

  padding-left: 140px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 680px) {

  .theyalow-video-area__head {
    display: none;
  }

}

.theyalow-video-area__main {
  width: 100%;
  height: 349px;

  padding-left: 120px;
  padding-right: 120px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}

@media screen and (max-width: 680px) {

  .theyalow-video-area__main {
    height: auto;
    padding: 0;
  }

}

.theyalow-video-area__main__1 {
  position: relative;
  width: 350px;
  height: 233px;

  background-color: #ec9e03;

  font-size: 29px;
  letter-spacing: 0px;
  line-height: 38px;
  color: #ffffff;
  font-family: "Segoe WP";
  font-weight: 300;

  padding: 20px;
  text-align: left;
}

@media screen and (max-width: 680px) {

 .theyalow-video-area__main__1 {
   width: 300px;
   height: 232px;

   margin-left: 9px;
   margin-right: 9px;
   margin-bottom: 9px;
 }

}

.theyalow-video-area__main__2 {
  width: 315px;
  height: 232px;

  background: url("./img/monkey.svg");
  background-repeat: no-repeat;
  background-position: center;

  margin-right: 34px;
}

@media screen and (max-width: 680px) {

  .theyalow-video-area__main__2 {
     width: 315px;
     height: 232px;

     margin-right: 0;
  }

}

.theyalow-video2 {

  width: 312px;
  height: 100%;

  opacity: 0.4;
}

.theyalow-video-area__main__3 {
  position: relative;
  width: 350px;
  height: 233px;

  background-color: #ec9e03;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.theyalow-video-area__main__3__notes {
  display: none;
}

@media screen and (max-width: 680px) {

  .theyalow-video-area__main__3 {
    width: 100%;

    background-image: linear-gradient(0deg, #f5c505 0%, #f5c505 100%);

    justify-content: space-around;

    font-family: "ArialMT", sans-serif;
  }

  .theyalow-video-area__main__3__notes {
    display: block;
    padding-top: 10px;
  }

  .input-data {
    margin-top: 10px;
    margin-left: 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  input[type="text"] {
    display: inline-block;
    border: none;
    width: 200px;
    height: 29px;
    border-radius: 10px 0 0 10px;
    vertical-align: middle;
  }

  input[type="submit"] {
    display: inline-block;
    width: 69px;
    height: 29px;
    border: none;
    background: #e7a623;
    border-radius: 0 10px 10px 0;

    color: white;
    font-size: 15px;    
  }

}

.theyalow-video-area__main__3__img {
  width: 190px;
  height: 150px;
}

@media screen and (max-width: 680px) {

  .theyalow-video-area__main__3__img {
    width: 180px;
    height: 160px;

    margin: 40px;
  }

}

.break {
  flex-basis: 100%;
  height: 0;
}

.theyalow-video-area__main__4 {
  width: 113px;
  height: 86px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;

  background-color: #ddb101;

  margin-top: -60px;
}

@media screen and (max-width: 680px) {

  .theyalow-video-area__main__4 {
    display: none;
  }

}

.theyalow-video-area__main__4__date {
  font-size: 51px;
  letter-spacing: 1px;
  line-height: 40px;
  color: #ffffff;
  font-family: "Segoe UI", sans-serif;
  font-weight: bold;
}

.theyalow-video-area__main__4__month {
  font-size: 21px;
  letter-spacing: 0px;
  line-height: 30px;
  color: #b26529;
  font-family: "Segoe UI", sans-serif;
}

.theyalow-video-area__foot {
  width: 100%;
  height: 60px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 680px) {

  .theyalow-video-area__foot {
    display: none;
  }

}

.theyalow-video-area__foot__range {
  width: 897px;
  height: 15px;

  -webkit-appearance: none !important;
  background-color: #e6e2b2;
  border-radius: 10px;
  margin: auto;
  transition: all 0.3s ease;
}

.theyalow-video-area__foot__range:hover {
  background-color: #ebd58e;
}

.theyalow-video-area__foot__range::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  width: 197px;
  height: 15px;
  background-color: #ec9e03;
  border-radius: 30px;
  box-shadow: 0px 0px 3px #bbca99;
  transition: all 0.5s ease;
}
.theyalow-video-area__foot__range::-webkit-slider-thumb:hover {
  background-color: #ec450370;
}
.theyalow-video-area__foot__range::-webkit-slider-thumb:active {
  box-shadow: 0px 0px 1px #a09e8a;
}

._22 {
  position: absolute;
  left: 310px;
  top: 10px;

  color: white;
  font-size: 23px;
  font-family: "Segoe WP", sans-serif; 
}

.plus1 {
  position: absolute;
  left: 320px;
  top: 190px;

  color: white;
  font-size: 23px;
  font-weight: bold;

  cursor: pointer;
}

.plus2 {
  position: absolute;
  left: 325px;
  top: 200px;

  color: white;
  font-size: 23px;
  font-weight: bold;

  cursor: pointer;
}

@media screen and (max-width: 680px) {

  ._22 {
    display: none;
  }

  .plus2 {
    display: none;
  }

}

/* ------------------------------------------*/

.lower-div {
  width: 100%;
  height: 499px;

  background: url("./img/lower_background.svg");

  box-shadow: inset 0 -8px 6px -6px #000000;

  padding-left: 138px;
  padding-right: 138px;
  padding-top: 40px;
}

.lower-div__head {
  width: 100%;
  height: auto;

  font-size: 42px;
  color: rgba(245, 197, 6, 255);
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;

  text-align: center;
}

@media screen and (max-width: 680px) {

  .lower-div {
    height: 487px;

    padding-left: 21px;
    padding-right: 29px;
    padding-top: 43px;
  }

  .lower-div__head {
    font-size: 38px;

    margin-bottom: 25px;
  }

}

.lower-div__info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.lower-div__img {
  width: 560px;
  height: 298px;

  margin-right: 55px;
}

.lower-div__list {
  text-align: left;

  list-style-image: url("./img/Ellipse\ 4@1X.png");

  font-size: 25px;
  color: rgba(169, 169, 167, 255);
  font-family: "PT Sans", sans-serif;
}

.lower-div__list li {
  padding-bottom: 20px;

  list-style-type: none;

  padding-left: 10px;
}

.lower-div__list li:nth-child(1){
  padding-top: 60px;
}

@media screen and (max-width: 680px) {

  .lower-div__img {
    width: 570px;
    height: 296px;
  }

  .lower-div__list {
    display: none;
  }

}

/* ------------------------------------------*/


.theyalow-footer {
  position: relative;

  display: inline-block;

  width: 100%;
  height: 61px;

  background: url("./img/lower_background.svg");

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  padding-left: 120px;

  font-size: 29px;
  letter-spacing: 0px;
  color: #ffffff;
  font-family: "Lucida Sans", sans-serif;
  font-style: italic;
  text-transform: uppercase;
}

@media screen and (max-width: 680px) {

  .theyalow-footer {
    padding: 10px;
    padding-left: 66px;

    font-size: 20px;
  }

  .theyalow-footer__img {
    position: relative;
    margin-right: 10px;

    width: 35px;
    heiht: 35px;
  }

}